@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #574c3f;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container-fluid .jumbotron {
    border-radius: 0px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.ads {
    width: 100%;
}

.classWithPad {
    padding: 10px;
}

.aboutusbackground {
    /*position: relative;
    background-position: inherit;
    background-image: url(../Images/ad1.jpg);
    background-size: cover;
    height: ;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 450px;*/
    padding-top: 50px;
    padding-bottom: 50px;
}

.opacitybackground {
    background: rgba(251, 251, 251, 0.9);
}

.view {
    /*width: 300px;
    height: 200px;*/
    /*margin: 10px;*/
    /*float: left;*/
    /*border: 10px solid #fff;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
}

    .view .mask, .view .content {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .view img {
        display: block;
        position: relative;
    }

    .view h3 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: medium;
        padding: 10px;
        background: rgba(87, 76, 63, 0.8);
        margin: 20px 0 0 0;
    }

    .view p {
        /*font-family: Georgia, serif;*/
        font-style: italic;
        font-size: medium;
        position: relative;
        color: #fff;
        /*padding: 10px ;*/
        text-align: center;
    }

    .view a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #574c3f;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000;
    }

        .view a.info:hover {
            box-shadow: 0 0 5px #000;
        }

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.6);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover img {
    transform: scale(1.1);
}

.view-first:hover .mask {
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {
    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

/*.fadeInBlock {
    opacity:0;
    transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}*/

/*.fadeInBlock {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.fadeInBlock:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
/*}*/

/*@keyframes fadeInBlock {
  to { transform: translateY(0); }
}*/

.come-in {
    /*opacity:0;*/
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

    .come-in:nth-child(odd) {
        animation-duration: 0.9s; /* So they look staggered */
    }

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.divline {
    border-bottom: 1px solid #ccc;
}

/*.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #EEEEEE;
 }*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ebf3f9;
}

.table thead th {
    background-color: #337ab7;
    color: white;
}

* {
  border-radius: 0 !important;
}
