@{
    ViewBag.Title = "About Us";
}

<img src="@Url.Content("~/Images/banner2.jpg")" class="img-responsive">
@*<div class="aboutusbackground">
    hi
</div>*@
<div class="aboutusbackground" >
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <h2 class="text-uppercase text-center">@ViewBag.Title</h2>
                    <hr />
                    <h3 class="text-primary">@ViewBag.Message</h3>
                    <p>
                        Holiday.com.au is a family owned and operated business throughout the whole Australia. We are committed to providing outstanding customer service and we achieve this through our dedicated efforts on our phone lines and email enquiries and responses.
                        Our guides are our key in delivering to you, the most fantastic tour ever. Whether you join us for 1 or more or all of our day tours our guides are there 100% dedicated to enlighten and enliven your tour with us in the most beautiful parts of Australia.
                    </p>
                    <p>
                        We are a small business of dedicated travel professionals. From the owner to the guides we have all travelled and have many different experiences behind us that bring out the best in our business and tours.
                        We believe in showing you the truth of the places we visit and the things we do and this is achieved through the photos that you will see across our website, brochures and advertising. These are all taken on our tours by our guides, staff or guests.
                    </p>
                    <p>If you’d like to know more about our tours please do not hesitate to reach out to us at our <a href="@Url.Action("Contact", "Home")">Contact Us</a> Page.</p>
                    <p>We look forward to hearing from you and helping with your travel plans.</p>
                    <p>Happy and safe travels!</p>
                    <p class="text-uppercase">Holiday.com.au</p>
                </div>
            </div>
        </div>
</div>

