@{
    ViewBag.Title = "Contact Us";
}

<img src="@Url.Content("~/Images/banner2.jpg")" class="img-responsive">
@*<div class="aboutusbackground">
        hi
    </div>*@
<div class="aboutusbackground">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <h2 class="text-uppercase">@ViewBag.Title</h2>
                <h3 class="text-warning">@ViewBag.Message</h3>
                <table>
                    <tr>
                        <td>
                            @*<i class="fa fa-phone" aria-hidden="true"></i>*@
                        </td>
                        <td>
                            <div class="h4">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                Phone:
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="tel:1900 000 000">1900 000 000</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="tel:1900 111 111">1900 111 111</a>
                        </td>
                    </tr>
                    <tr class="emptyrow">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>
                            @*<asp:Image ID="Image3" runat="server" SkinID="mailicon" CssClass="icon"></asp:Image>*@
                        </td>
                        <td>
                            <div class="h4">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                Email:
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a href="mailto:enquiry@holiday.com.au">enquiry@holiday.com.au</a>
                        </td>
                    </tr>
                    <tr class="emptyrow">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>
                            @*<asp:Image ID="Image1" runat="server" SkinID="homeicon" CssClass="icon"></asp:Image>*@
                        </td>
                        <td>
                            <div class="h4">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Address:
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Main office: 980 Dandenong Road, Caulfield East, VIC 3178.
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Sydney Office: 890 George Street, Sydney, NSW 2000.
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            Brisbane Office: 100 Elizabeth St, Brisbane City QLD 4000.
                        </td>
                    </tr>
                    <tr class="emptyrow">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>
                            @*<asp:Image ID="Image4" runat="server" SkinID="houricon" CssClass="icon"></asp:Image>*@
                        </td>
                        <td>
                            <div class="h4">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                Hours:
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            08:00 AM – 07:00 PM Mon to Fri.
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            09:00 AM – 05:00 PM Sat to Sun
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            AEST
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

